body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/04/39/71/36584e58be12c25.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    body {
        background-position: center;
        /* Keeps the image centered on medium screens */
    }
}

@media (max-width: 768px) {
    body {
        background-size: cover;
        /* Ensure the background image covers the screen on tablets */
    }
}

@media (max-width: 480px) {
    body {
        background-size: cover;
        /* Ensure the background image covers the screen on mobile */
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 120px;
}

#check {
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#check:hover {
    background-color: #45a049;
}

#Latitude {
    color: #2c3e50;
    background-color: #d1e8e2;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
}

#Longitude {
    color: #2c3e50;
    background-color: #ecf0f1;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
}